# Cloudinary beállítások (ingyenes fiók: cloudinary.com)
VITE_CLOUDINARY_CLOUD_NAME=ide-a-cloud-neved
VITE_CLOUDINARY_UPLOAD_PRESET=ide-az-unsigned-preset-neve

# Admin jelszó (ezt adod meg Noéminek)
VITE_ADMIN_PASSWORD=ide-a-titkos-jelszo

# Titkos oldal naptár szinkronizáláshoz (meg kell egyeznie a TitkosPage.vue-ban lévő jelszóval)
TITKOS_PASSWORD=nyeles2
